<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>WiserunFrame</display-name>
 <!-- 巡检任务执行时间（秒） 格式HH:mm:ss:SSS-->
<context-param>
 <param-name>ExecuteTime</param-name>
 <param-value>00:00:00.000</param-value>
</context-param>
<!-- 查分系统成绩同步（秒）   默认一天 -->
<context-param>
 <param-name>InspectionTime</param-name>
 <param-value>86400</param-value>
</context-param>
<!-- 巡检开启延迟时间(未使用) -->
<context-param>
 <param-name>Delay</param-name>
 <param-value>30000</param-value>
</context-param>
 <context-param>
  <param-name>excelsave</param-name>
  <param-value>E:\\pageoffice\\</param-value>
 </context-param>
 <context-param>
  <param-name>temp</param-name>
  <param-value>F:\\QA\\template.doc</param-value>
 </context-param>
 <context-param>
  <param-name>tempsave</param-name>
  <param-value>F:\\QA\\</param-value>
 </context-param>
 <context-param>
  <param-name>time</param-name>
  <param-value>60</param-value>
 </context-param>
 <context-param>
  <description>企信通WEBSERVICE帐号等顺序依次为   WEBSERVICE地址-移动端口号-公司帐号-公司密码-用户名  顺序不可乱 用“-”隔开</description>
  <param-name>ChangrunMessage</param-name>
  <param-value>211.136.163.68-9981-10657109081395-Wiserun@@62129977-Shenqh</param-value>
 </context-param>
 <context-param>
  <param-name>AccountId</param-name>
  <param-value>10657001077883008</param-value>
 </context-param>
 <context-param>
  <param-name>Host</param-name>
  <param-value>008</param-value>
 </context-param>
 <context-param>
  <param-name>Password</param-name>
  <param-value>lhsr3311888</param-value>
 </context-param>
 <context-param>
  <param-name>Port</param-name>
  <param-value>9981</param-value>
 </context-param>
 <context-param>
  <param-name>ServiceId</param-name>
  <param-value>211.136.163.68</param-value>
 </context-param>
 <context-param>
  <param-name>jndi</param-name>
  <param-value>java:comp/env/jdbc/XDEAM</param-value>
 </context-param>
 <context-param>
  <param-name>DBType</param-name>
  <param-value>sql</param-value>
 </context-param>
 <filter>
  <display-name>SetCharacterEncodingFilter</display-name>
  <filter-name>SetCharacterEncodingFilter</filter-name>
  <filter-class>com.pantech.base.common.filter.SetCharacterEncodingFilter</filter-class>
 </filter>
 <filter>
  <display-name>ValidateFltr</display-name>
  <filter-name>ValidateFltr</filter-name>
  <filter-class>com.pantech.base.common.filter.ValidateFltr</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>SetCharacterEncodingFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <listener>
  <listener-class>com.pantech.src.develop.Logs.SessionListener</listener-class>
 </listener>
 <!--  
  <listener>
	<listener-class>com.pantech.src.note.noteListener</listener-class>
  </listener>
  -->
 <servlet>
  <display-name>Svl_BaseConfig</display-name>
  <servlet-name>Svl_BaseConfig</servlet-name>
  <servlet-class>com.pantech.base.common.config.Svl_BaseConfig</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_clearAcceptUser</display-name>
  <servlet-name>Svl_clearAcceptUser</servlet-name>
  <servlet-class>com.pantech.src.develop.common.Svl_clearAcceptUser</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_HelpInfo</display-name>
  <servlet-name>Svl_HelpInfo</servlet-name>
  <servlet-class>com.pantech.src.develop.helpinfo.Svl_HelpInfo</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_LoginList</display-name>
  <servlet-name>Svl_LoginList</servlet-name>
  <servlet-class>com.pantech.base.common.system.Svl_LoginList</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_Logout</display-name>
  <servlet-name>Svl_Logout</servlet-name>
  <servlet-class>com.pantech.src.develop.system.Svl_Logout</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_message</display-name>
  <servlet-name>Svl_message</servlet-name>
  <servlet-class>com.pantech.src.develop.message.Svl_message</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_setPassword</display-name>
  <servlet-name>Svl_setPassword</servlet-name>
  <servlet-class>com.pantech.src.develop.common.Svl_setPassword</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_SetPerCode</display-name>
  <servlet-name>Svl_SetPerCode</servlet-name>
  <servlet-class>com.pantech.src.develop.system.Svl_SetPerCode</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_setSession</display-name>
  <servlet-name>Svl_setSession</servlet-name>
  <servlet-class>com.pantech.src.develop.common.Svl_setSession</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_System</display-name>
  <servlet-name>Svl_System</servlet-name>
  <servlet-class>com.pantech.src.develop.system.Svl_System</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_DefUser</display-name>
  <servlet-name>Svl_DefUser</servlet-name>
  <servlet-class>com.pantech.base.common.defuser.Svl_DefUser</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_updateAcceptUser</display-name>
  <servlet-name>Svl_updateAcceptUser</servlet-name>
  <servlet-class>com.pantech.src.develop.common.Svl_updateAcceptUser</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_UpdateAuth</display-name>
  <servlet-name>Svl_UpdateAuth</servlet-name>
  <servlet-class>com.pantech.src.develop.system.Svl_UpdateAuth</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_PartProfile</display-name>
  <servlet-name>Svl_PartProfile</servlet-name>
  <servlet-class>com.pantech.src.develop.store.part.Svl_PartProfile</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_AutoCode</display-name>
  <servlet-name>Svl_AutoCode</servlet-name>
  <servlet-class>com.pantech.base.common.autocode.Svl_AutoCode</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_BackgMouldSet</display-name>
  <servlet-name>Svl_BackgMouldSet</servlet-name>
  <servlet-class>com.pantech.src.develop.backg.Svl_BackgMouldSet</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_InfoTypeManage</display-name>
  <servlet-name>Svl_InfoTypeManage</servlet-name>
  <servlet-class>com.pantech.src.develop.infotype.Svl_InfoTypeManage</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_Tree</display-name>
  <servlet-name>Svl_Tree</servlet-name>
  <servlet-class>com.pantech.src.develop.system.Svl_Tree</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_Report</display-name>
  <servlet-name>Svl_Report</servlet-name>
  <servlet-class>com.pantech.base.common.report.Svl_Report</servlet-class>
 </servlet>
 <servlet>
  <display-name>DownloadAttachmentServlet</display-name>
  <servlet-name>DownloadAttachmentServlet</servlet-name>
  <servlet-class>com.example.mail.DownloadAttachmentServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>ComposeMailServlet</display-name>
  <servlet-name>ComposeMailServlet</servlet-name>
  <servlet-class>com.example.mail.ComposeMailServlet</servlet-class>
 </servlet>
 <!-- PageOffice Begin -->
 <servlet>
  <servlet-name>poserver</servlet-name>
  <servlet-class>com.zhuozhengsoft.pageoffice.poserver.Server</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>adminseal</servlet-name>
  <servlet-class>com.zhuozhengsoft.pageoffice.poserver.AdminSeal</servlet-class>
 </servlet>
 <!-- PageOffice End -->
 <servlet>
  <display-name>Svl_Auditconfig</display-name>
  <servlet-name>Svl_Auditconfig</servlet-name>
  <servlet-class>com.pantech.base.common.audit.Svl_Auditconfig</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_AuditConduct1</display-name>
  <servlet-name>Svl_AuditConduct1</servlet-name>
  <servlet-class>com.pantech.base.common.tags.util.Svl_AuditConduct1</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_Auditedit</display-name>
  <servlet-name>Svl_Auditedit</servlet-name>
  <servlet-class>com.pantech.base.common.audit.Svl_Auditedit</servlet-class>
 </servlet>
 <servlet>
  <display-name>Svl_datatran</display-name>
  <servlet-name>Svl_datatran</servlet-name>
  <servlet-class>com.pantech.base.common.data.Svl_datatran</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_PaggofficeConf</servlet-name>
  <servlet-class>com.pantech.base.common.qa.page.Svl_PaggofficeConf</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_DepUser</servlet-name>
  <servlet-class>com.pantech.base.common.depuser.Svl_DepUser</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>UploadToolbar</servlet-name>
  <servlet-class>com.pantech.base.common.upload.UploadToolbar</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>SavePageOffice</servlet-name>
  <servlet-class>com.pantech.base.common.qa.page.SavePageOffice</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_PaggofficeEdit</servlet-name>
  <servlet-class>com.pantech.base.common.qa.page.Svl_PaggofficeEdit</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_PageSubmit</servlet-name>
  <servlet-class>com.pantech.base.common.qa.page.Svl_PageSubmit</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_Auditskip</servlet-name>
  <servlet-class>com.pantech.base.common.tags.util.Svl_Auditskip</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_reportList</servlet-name>
  <servlet-class>com.pageoffice.excel.definition.report.Svl_reportList</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_objreportList</servlet-name>
  <servlet-class>com.pageoffice.excel.definition.report.Svl_objreportList</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_columnscon</servlet-name>
  <servlet-class>com.pageoffice.excel.definition.report.Svl_columnscon</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_columnsinfo</servlet-name>
  <servlet-class>com.pageoffice.excel.definition.report.Svl_columnsinfo</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_reportStyleList</servlet-name>
  <servlet-class>com.pageoffice.excel.definition.report.Svl_reportStyleList</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_reportStyleinfo</servlet-name>
  <servlet-class>com.pageoffice.excel.definition.report.Svl_reportStyleinfo</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_userreportList</servlet-name>
  <servlet-class>com.pageoffice.excel.definition.report.Svl_userreportList</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_userreportinfo</servlet-name>
  <servlet-class>com.pageoffice.excel.definition.report.Svl_userreportinfo</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_reportauthList</servlet-name>
  <servlet-class>com.pageoffice.excel.definition.report.Svl_reportauthList</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>SavePageOffices</servlet-name>
  <servlet-class>com.pageoffice.toolbar.SavePageOffices</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_MessageList</servlet-name>
  <servlet-class>com.pantech.src.note.Svl_MessageList</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_Rules</servlet-name>
  <servlet-class>com.pantech.src.note.Svl_Rules</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_Holidays</servlet-name>
  <servlet-class>com.pantech.src.note.Svl_Holidays</servlet-class>
 </servlet>

 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Svl_Userauit</servlet-name>
  <servlet-class>com.pageoffice.excel.definition.report.Svl_Userauit</servlet-class>
 </servlet>
 
 <!-- 排课系统servlet  begin -->
  <servlet>
    <display-name>Svl_Xnxq</display-name>
    <servlet-name>Svl_Xnxq</servlet-name>
    <servlet-class>com.pantech.src.devolop.ruleManage.Svl_Xnxq</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Pksz</display-name>
    <servlet-name>Svl_Pksz</servlet-name>
    <servlet-class>com.pantech.devolop.courseManage.Svl_Pksz</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Skjh</display-name>
    <servlet-name>Svl_Skjh</servlet-name>
    <servlet-class>com.pantech.src.devolop.ruleManage.Svl_Skjh</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Tsgz</display-name>
    <servlet-name>Svl_Tsgz</servlet-name>
    <servlet-class>com.pantech.src.devolop.ruleManage.Svl_Tsgz</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Bjgpjp</display-name>
    <servlet-name>Svl_Bjgpjp</servlet-name>
    <servlet-class>com.pantech.src.devolop.ruleManage.Svl_Bjgpjp</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Hbsz</display-name>
    <servlet-name>Svl_Hbsz</servlet-name>
    <servlet-class>com.pantech.src.devolop.ruleManage.Svl_Hbsz</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Xnxq</display-name>
    <servlet-name>Svl_Kbcx</servlet-name>
    <servlet-class>com.pantech.devolop.timetableQuery.Svl_Kbcx</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Svl_Jsgpjp</servlet-name>
    <servlet-class>com.pantech.src.devolop.ruleManage.Svl_Jsgpjp</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Svl_Cdgpjp</servlet-name>
    <servlet-class>com.pantech.src.devolop.ruleManage.Svl_Cdgpjp</servlet-class>
  </servlet>


  
  <servlet>
    <display-name>Svl_EchelonsManage</display-name>
    <servlet-name>Svl_EchelonsManage</servlet-name>
    <servlet-class>com.pantech.src.develop.systemiss.Svl_EchelonsManage</servlet-class>
  </servlet>
  
  <servlet>
    <display-name>Svl_building</display-name>
    <servlet-name>Svl_building</servlet-name>
	<servlet-class>com.pantech.src.develop.systemiss.Svl_building</servlet-class>
  </servlet>
  
  <servlet>
    <display-name>Svl_Tkgl</display-name>
    <servlet-name>Svl_Tkgl</servlet-name>
    <servlet-class>com.pantech.devolop.courseAdjust.Svl_Tkgl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Svl_teamleader</servlet-name>
    <servlet-class>com.pantech.src.develop.systemiss.Svl_teamleader</servlet-class>
  </servlet>
  <servlet>
	    <description>This is the description of my J2EE component</description>
	    <display-name>This is the display name of my J2EE component</display-name>
	    <servlet-name>Svl_queryState</servlet-name>
	    <servlet-class>com.pantech.src.devolop.queryStatistics.Svl_queryState</servlet-class>
	</servlet>
  <servlet>
    <display-name>Svl_wjdc</display-name>
    <servlet-name>Svl_wjdc</servlet-name>
    <servlet-class>com.pantech.src.devolop.questSurvey.Svl_wjdc</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_MajorSet</display-name>
    <servlet-name>Svl_MajorSet</servlet-name>
    <servlet-class>com.pantech.src.devolop.ruleManage.Svl_MajorSet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_ClassSet</display-name>
    <servlet-name>Svl_ClassSet</servlet-name>
    <servlet-class>com.pantech.src.devolop.ruleManage.Svl_ClassSet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_NjxxSet</display-name>
    <servlet-name>Svl_NjxxSet</servlet-name>
    <servlet-class>com.pantech.src.devolop.ruleManage.Svl_NjxxSet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Kmsz</display-name>
    <servlet-name>Svl_Kmsz</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreSet.Svl_Kmsz</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Dfrysz</display-name>
    <servlet-name>Svl_Dfrysz</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreSet.Svl_Dfrysz</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Mxsz</display-name>
    <servlet-name>Svl_Mxsz</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreSet.Svl_Mxsz</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Xqcjdj</display-name>
    <servlet-name>Svl_Xqcjdj</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreManage.Svl_Xqcjdj</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_CourseSet</display-name>
    <servlet-name>Svl_CourseSet</servlet-name>
    <servlet-class>com.pantech.src.devolop.ruleManage.Svl_CourseSet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Dfsz</display-name>
    <servlet-name>Svl_Dfsz</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreSet.Svl_Dfsz</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Hksz</display-name>
    <servlet-name>Svl_Hksz</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreSet.Svl_Hksz</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Cjcx</display-name>
    <servlet-name>Svl_Cjcx</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreManage.Svl_Cjcx</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_ScoreQuery</display-name>
    <servlet-name>Svl_ScoreQuery</servlet-name>
    <servlet-class>com.pantech.devolop.scoreStatistics.Svl_ScoreQuery</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Tmsz</display-name>
    <servlet-name>Svl_Tmsz</servlet-name>
    <servlet-class>com.pantech.src.devolop.questSurvey.Svl_Tmsz</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Wjsz</display-name>
    <servlet-name>Svl_Wjsz</servlet-name>
    <servlet-class>com.pantech.src.devolop.questSurvey.Svl_Wjsz</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Wjjgcx</display-name>
    <servlet-name>Svl_Wjjgcx</servlet-name>
    <servlet-class>com.pantech.src.devolop.questSurvey.Svl_Wjjgcx</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Bkcjdj</display-name>
    <servlet-name>Svl_Bkcjdj</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreManage.Svl_Bkcjdj</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Bkdfjssz</display-name>
    <servlet-name>Svl_Bkdfjssz</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreSet.Svl_Bkdfjssz</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_examSet</display-name>
    <servlet-name>Svl_examSet</servlet-name>
    <servlet-class>com.pantech.src.devolop.examSetting.Svl_examSet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_outsideExam</display-name>
    <servlet-name>Svl_outsideExam</servlet-name>
    <servlet-class>com.pantech.src.devolop.outsideExam.Svl_outsideExam</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Import</display-name>
    <servlet-name>Svl_Import</servlet-name>
    <servlet-class>com.pantech.src.devolop.ruleManage.Svl_Import</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Dbkcjdj</display-name>
    <servlet-name>Svl_Dbkcjdj</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreManage.Svl_Dbkcjdj</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Dbkdfjssz</display-name>
    <servlet-name>Svl_Dbkdfjssz</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreSet.Svl_Dbkdfjssz</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_FckcSet</display-name>
    <servlet-name>Svl_FckcSet</servlet-name>
    <servlet-class>com.pantech.src.devolop.ruleManage.Svl_FckcSet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_XsxxSet</display-name>
    <servlet-name>Svl_XsxxSet</servlet-name>
    <servlet-class>com.pantech.devolop.baseInfoManage.Svl_XsxxSet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_TeachManage</display-name>
    <servlet-name>Svl_TeachManage</servlet-name>
    <servlet-class>com.pantech.devolop.teachManage.Svl_TeachManage</servlet-class>
  </servlet>
<servlet>
	  <servlet-name>Svl_Timer</servlet-name>
	  <servlet-class>com.pantech.devolop.registerScoreManage.Svl_Timer</servlet-class>
	  <init-param>
	   <param-name>startTask</param-name>
	   <param-value>false</param-value>
	  </init-param>
	  <load-on-startup>100</load-on-startup>
	</servlet>
  <servlet>
    <display-name>Svl_JxbSet</display-name>
    <servlet-name>Svl_JxbSet</servlet-name>
    <servlet-class>com.pantech.devolop.baseInfoManage.Svl_JxbSet</servlet-class>
  </servlet>
   <servlet>
    <display-name>Svl_JyzxxSet</display-name>
    <servlet-name>Svl_JyzxxSet</servlet-name>
    <servlet-class>com.pantech.devolop.baseInfoManage.Svl_JyzxxSet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Xkkszlfx</display-name>
    <servlet-name>Svl_Xkkszlfx</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreStatistics.Svl_Xkkszlfx</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Mksz</display-name>
    <servlet-name>Svl_Mksz</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreSet.Svl_Mksz</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Zhfx</display-name>
    <servlet-name>Svl_Zhfx</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreStatistics.Svl_Zhfx</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Zbcjcx</display-name>
    <servlet-name>Svl_Zbcjcx</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreQuery.Svl_Zbcjcx</servlet-class>
  </servlet>
   <servlet>
    <display-name>Svl_Xqzpcx</display-name>
    <servlet-name>Svl_Xqzpcx</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreQuery.Svl_Xqzpcx</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Xnzpcx</display-name>
    <servlet-name>Svl_Xnzpcx</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreQuery.Svl_Xnzpcx</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Kcbkmd</display-name>
    <servlet-name>Svl_Kcbkmd</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreQuery.Svl_Kcbkmd</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Bjbkmd</display-name>
    <servlet-name>Svl_Bjbkmd</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreQuery.Svl_Bjbkmd</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Ljmd</display-name>
    <servlet-name>Svl_Ljmd</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreQuery.Svl_Ljmd</servlet-class>
  </servlet>
  <servlet>
    <display-name>Svl_Xnxqzpcx</display-name>
    <servlet-name>Svl_Xnxqzpcx</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreQuery.Svl_Xnxqzpcx</servlet-class>
  </servlet>
    <servlet>
    <display-name>Svl_Bjdbkmd</display-name>
    <servlet-name>Svl_Bjdbkmd</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreQuery.Svl_Bjdbkmd</servlet-class>
  </servlet>
  <servlet>
  	<display-name>Svl_Kssz</display-name>
    <servlet-name>Svl_Kssz</servlet-name>
    <servlet-class>com.pantech.devolop.customExamManage.Svl_Kssz</servlet-class>
  </servlet>
  <servlet>
  	<display-name>Svl_Cjdj</display-name>
    <servlet-name>Svl_Cjdj</servlet-name>
    <servlet-class>com.pantech.devolop.customExamManage.Svl_Cjdj</servlet-class>
  </servlet>
  <servlet>
  	<display-name>Svl_Cjtj</display-name>
    <servlet-name>Svl_Cjtj</servlet-name>
    <servlet-class>com.pantech.devolop.customExamManage.Svl_Cjtj</servlet-class>
  </servlet>
   <servlet>
    <display-name>Svl_Xspy</display-name>
    <servlet-name>Svl_Xspy</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreManage.Svl_Xspy</servlet-class>
  </servlet>
  <servlet>
  	<display-name>Svl_Yktj</display-name>
    <servlet-name>Svl_Yktj</servlet-name>
    <servlet-class>com.pantech.devolop.customExamManage.Svl_Yktj</servlet-class>
  </servlet>
  <servlet>
  	<display-name>Svl_xfsh</display-name>
    <servlet-name>Svl_xfsh</servlet-name>
    <servlet-class>com.pantech.devolop.xfyh.Svl_xfsh</servlet-class>
  </servlet>
  <servlet>
  	<display-name>Svl_xfsq</display-name>
    <servlet-name>Svl_xfsq</servlet-name>
    <servlet-class>com.pantech.devolop.xfyh.Svl_xfsq</servlet-class>
  </servlet>
<servlet>
  	<display-name>Svl_Dfqk</display-name>
    <servlet-name>Svl_Dfqk</servlet-name>
    <servlet-class>com.pantech.devolop.customExamManage.Svl_Dfqk</servlet-class>
  </servlet>
  
<servlet>
    <display-name>Svl_Xsxjk</display-name>
    <servlet-name>Svl_Xsxjk</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreQuery.Svl_Xsxjk</servlet-class>
</servlet>

<servlet>
    <display-name>Svl_xfsz</display-name>
    <servlet-name>Svl_xfsz</servlet-name>
    <servlet-class>com.pantech.devolop.xfyh.Svl_xfsz</servlet-class>
</servlet>

<servlet>
    <display-name>Svl_Cjzm</display-name>
    <servlet-name>Svl_Cjzm</servlet-name>
    <servlet-class>com.pantech.devolop.registerScoreQuery.Svl_Cjzm</servlet-class>
</servlet>


 
  <!-- servlet  end -->

 <servlet-mapping>
  <servlet-name>poserver</servlet-name>
  <url-pattern>/poserver.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>poserver</servlet-name>
  <url-pattern>/pageoffice.cab</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>poserver</servlet-name>
  <url-pattern>/popdf.cab</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>poserver</servlet-name>
  <url-pattern>/sealsetup.exe</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>poserver</servlet-name>
  <url-pattern>/posetup.exe</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>adminseal</servlet-name>
  <url-pattern>/adminseal.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>adminseal</servlet-name>
  <url-pattern>/loginseal.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>adminseal</servlet-name>
  <url-pattern>/sealimage.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_Auditconfig</servlet-name>
  <url-pattern>/Svl_Auditconfig</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_AuditConduct1</servlet-name>
  <url-pattern>/Svl_AuditConduct1</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_Auditedit</servlet-name>
  <url-pattern>/Svl_Auditedit</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_datatran</servlet-name>
  <url-pattern>/Svl_datatran</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_BaseConfig</servlet-name>
  <url-pattern>/Svl_BaseConfig</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_clearAcceptUser</servlet-name>
  <url-pattern>/Svl_clearAcceptUser</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_HelpInfo</servlet-name>
  <url-pattern>/Svl_HelpInfo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_LoginList</servlet-name>
  <url-pattern>/Svl_LoginList</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_Logout</servlet-name>
  <url-pattern>/Svl_Logout</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_message</servlet-name>
  <url-pattern>/Svl_message</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_setPassword</servlet-name>
  <url-pattern>/Svl_setPassword</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_SetPerCode</servlet-name>
  <url-pattern>/Svl_SetPerCode</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_setSession</servlet-name>
  <url-pattern>/Svl_setSession</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_System</servlet-name>
  <url-pattern>/Svl_System</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_updateAcceptUser</servlet-name>
  <url-pattern>/Svl_updateAcceptUser</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_UpdateAuth</servlet-name>
  <url-pattern>/Svl_UpdateAuth</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_PartProfile</servlet-name>
  <url-pattern>/Svl_PartProfile</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_AutoCode</servlet-name>
  <url-pattern>/Svl_AutoCode</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_BackgMouldSet</servlet-name>
  <url-pattern>/Svl_BackgMouldSet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_InfoTypeManage</servlet-name>
  <url-pattern>/Svl_InfoTypeManage</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_Tree</servlet-name>
  <url-pattern>/Svl_Tree</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_Report</servlet-name>
  <url-pattern>/Svl_Report</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DownloadAttachmentServlet</servlet-name>
  <url-pattern>/DownloadAttachmentServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ComposeMailServlet</servlet-name>
  <url-pattern>/ComposeMailServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_PaggofficeConf</servlet-name>
  <url-pattern>/Svl_PaggofficeConf</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_DepUser</servlet-name>
  <url-pattern>/Svl_DepUser</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UploadToolbar</servlet-name>
  <url-pattern>/UploadToolbar</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SavePageOffice</servlet-name>
  <url-pattern>/QA/SavePageOffice</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_PaggofficeEdit</servlet-name>
  <url-pattern>/Svl_PaggofficeEdit</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_PageSubmit</servlet-name>
  <url-pattern>/Svl_PageSubmit</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_Auditskip</servlet-name>
  <url-pattern>/Svl_Auditskip</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_reportList</servlet-name>
  <url-pattern>/Svl_reportList</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_objreportList</servlet-name>
  <url-pattern>/Svl_objreportList</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_columnscon</servlet-name>
  <url-pattern>/Svl_columnscon</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_columnsinfo</servlet-name>
  <url-pattern>/Svl_columnsinfo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_reportStyleList</servlet-name>
  <url-pattern>/Svl_reportStyleList</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_reportStyleinfo</servlet-name>
  <url-pattern>/Svl_reportStyleinfo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_userreportList</servlet-name>
  <url-pattern>/Svl_userreportList</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_DefUser</servlet-name>
  <url-pattern>/Svl_DefUser</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_userreportinfo</servlet-name>
  <url-pattern>/Svl_userreportinfo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_reportauthList</servlet-name>
  <url-pattern>/Svl_reportauthList</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SavePageOffices</servlet-name>
  <url-pattern>/JSONDrawExcel/SavePageOffices</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_MessageList</servlet-name>
  <url-pattern>/Svl_MessageList</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_Rules</servlet-name>
  <url-pattern>/Svl_Rules</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Svl_Holidays</servlet-name>
  <url-pattern>/Svl_Holidays</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>Svl_Userauit</servlet-name>
  <url-pattern>/Svl_Userauit</url-pattern>
 </servlet-mapping>
 
 <!-- 排课系统servlet mapping  begin -->
  <servlet-mapping>
    <servlet-name>Svl_Xnxq</servlet-name>
    <url-pattern>/Svl_Xnxq</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Pksz</servlet-name>
    <url-pattern>/Svl_Pksz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Skjh</servlet-name>
    <url-pattern>/Svl_Skjh</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Tsgz</servlet-name>
    <url-pattern>/Svl_Tsgz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Bjgpjp</servlet-name>
    <url-pattern>/Svl_Bjgpjp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Hbsz</servlet-name>
    <url-pattern>/Svl_Hbsz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Kbcx</servlet-name>
    <url-pattern>/Svl_Kbcx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_EchelonsManage</servlet-name>
    <url-pattern>/Svl_EchelonsManage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_building</servlet-name>
    <url-pattern>/Svl_building</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Jsgpjp</servlet-name>
    <url-pattern>/Svl_Jsgpjp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Cdgpjp</servlet-name>
    <url-pattern>/Svl_Cdgpjp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Tkgl</servlet-name>
    <url-pattern>/Svl_Tkgl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_teamleader</servlet-name>
    <url-pattern>/Svl_teamleader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_queryState</servlet-name>
    <url-pattern>/Svl_queryState</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_wjdc</servlet-name>
    <url-pattern>/Svl_wjdc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_MajorSet</servlet-name>
    <url-pattern>/Svl_MajorSet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_ClassSet</servlet-name>
    <url-pattern>/Svl_ClassSet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_NjxxSet</servlet-name>
    <url-pattern>/Svl_NjxxSet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Kmsz</servlet-name>
    <url-pattern>/Svl_Kmsz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Dfrysz</servlet-name>
    <url-pattern>/Svl_Dfrysz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Mxsz</servlet-name>
    <url-pattern>/Svl_Mxsz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Xqcjdj</servlet-name>
    <url-pattern>/Svl_Xqcjdj</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Svl_CourseSet</servlet-name>
    <url-pattern>/Svl_CourseSet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Dfsz</servlet-name>
    <url-pattern>/Svl_Dfsz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Hksz</servlet-name>
    <url-pattern>/Svl_Hksz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Cjcx</servlet-name>
    <url-pattern>/Svl_Cjcx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_ScoreQuery</servlet-name>
    <url-pattern>/Svl_ScoreQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Tmsz</servlet-name>
    <url-pattern>/Svl_Tmsz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Wjsz</servlet-name>
    <url-pattern>/Svl_Wjsz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Wjjgcx</servlet-name>
    <url-pattern>/Svl_Wjjgcx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Bkcjdj</servlet-name>
    <url-pattern>/Svl_Bkcjdj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Bkdfjssz</servlet-name>
    <url-pattern>/Svl_Bkdfjssz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_examSet</servlet-name>
    <url-pattern>/Svl_examSet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_outsideExam</servlet-name>
    <url-pattern>/Svl_outsideExam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Import</servlet-name>
    <url-pattern>/Svl_Import</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Dbkcjdj</servlet-name>
    <url-pattern>/Svl_Dbkcjdj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Dbkdfjssz</servlet-name>
    <url-pattern>/Svl_Dbkdfjssz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_FckcSet</servlet-name>
    <url-pattern>/Svl_FckcSet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_XsxxSet</servlet-name>
    <url-pattern>/Svl_XsxxSet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_TeachManage</servlet-name>
    <url-pattern>/Svl_TeachManage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	 <servlet-name>Svl_Timer</servlet-name>
	 <url-pattern>/Svl_Timer</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_JxbSet</servlet-name>
    <url-pattern>/Svl_JxbSet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Xkkszlfx</servlet-name>
    <url-pattern>/Svl_Xkkszlfx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Mksz</servlet-name>
    <url-pattern>/Svl_Mksz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Zhfx</servlet-name>
    <url-pattern>/Svl_Zhfx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_JyzxxSet</servlet-name>
    <url-pattern>/Svl_JyzxxSet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Zbcjcx</servlet-name>
    <url-pattern>/Svl_Zbcjcx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Xqzpcx</servlet-name>
    <url-pattern>/Svl_Xqzpcx</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Svl_Xnzpcx</servlet-name>
    <url-pattern>/Svl_Xnzpcx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Kcbkmd</servlet-name>
    <url-pattern>/Svl_Kcbkmd</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Svl_Bjbkmd</servlet-name>
    <url-pattern>/Svl_Bjbkmd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Ljmd</servlet-name>
    <url-pattern>/Svl_Ljmd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Xnxqzpcx</servlet-name>
    <url-pattern>/Svl_Xnxqzpcx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Bjdbkmd</servlet-name>
    <url-pattern>/Svl_Bjdbkmd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Kssz</servlet-name>
    <url-pattern>/Svl_Kssz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Cjdj</servlet-name>
    <url-pattern>/Svl_Cjdj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Cjtj</servlet-name>
    <url-pattern>/Svl_Cjtj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Xspy</servlet-name>
    <url-pattern>/Svl_Xspy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Yktj</servlet-name>
    <url-pattern>/Svl_Yktj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_xfsh</servlet-name>
    <url-pattern>/Svl_xfsh</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Svl_xfsq</servlet-name>
    <url-pattern>/Svl_xfsq</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Svl_Dfqk</servlet-name>
    <url-pattern>/Svl_Dfqk</url-pattern>
  </servlet-mapping>
  
 <servlet-mapping>
    <servlet-name>Svl_Xsxjk</servlet-name>
    <url-pattern>/Svl_Xsxjk</url-pattern>
  </servlet-mapping>
  
<servlet-mapping>
    <servlet-name>Svl_xfsz</servlet-name>
    <url-pattern>/Svl_xfsz</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>Svl_Cjzm</servlet-name>
    <url-pattern>/Svl_Cjzm</url-pattern>
  </servlet-mapping> 
  

<welcome-file-list>
	<welcome-file>Login.jsp</welcome-file>
</welcome-file-list>
	<!--——————————— 单证配置 end ——————————-->
	<!-- mapping end -->
	<!-- session not lost forever and nevers -->
	<session-config>
	 	<session-timeout>-1</session-timeout>
	</session-config>
</web-app>
